server:
  port: 8080

spring:
  application:
    name: API-Gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - JwtAuthFilter